#palette {
	position: absolute;
	left: 5%;
}

.paletteButton {
	width: 48px;
	height: 48px;
}

#canvasArea {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	transform-origin: top center;
	text-align: center;
}

#pixelCanvas {
	display: none;
}